{% extends "base.html.twig" %}
{% block body %}
  <main role="main">
		<div class="container">
            <table class="table table-striped">
            	<thead>
            		<tr>
            			<th>Creation date</th>
            			<th>Title</th>
            			<th>Description</th>
            			<th>Author</th>
            			<th>Priority</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for task in tasks %}
            			<tr>
            				<td>{{ task.getCreationDate()|date('Y-m-d H:i:s') }}</td>
            				<td>{{ task.getTitle() }}</td>
            				
            				{% if task.getDescription()|length() > 100 %}
            					{% set description = task.getDescription()|slice(0, 100) %}
            					{% set description = description ~ '...' %}
            				{% else %}
            					{% set description = task.getDescription() %}
            				{% endif %}
            				<td>{{ description }}</td>
            				<td>{{ task.getAuthor().getName() }}</td>
            				<td>{{ task.getPriority() }}</td>
							<td><a href="{{ path("task_detail", {id: task.getId()}) }}">Detail</a></td>
            			</tr>
            		{% endfor %}
            	</tbody>
            </table>

			 <hr>
		</div>
  </main>
  {% endblock %}
  